<h1>ジャンル管理</h1>

<%= form_for (@genre) do |f| %>
	<%= f.text_field :genre_name, autofocus: true, autocomplete: "genre_name" %>
	<%= f.label :有効  %>
	<%= f.radio_button :class_status, :有効 %>
	<%= f.label :無効  %>
	<%= f.radio_button :class_status, :無効 %>
	<%= f.submit "追加" %>
<% end %>


<% @genres.each do |genre| %>
	<%= genre.genre_name %>
	<%= genre.class_status %>
	<%= link_to "編集する" ,edit_genre_path(genre.id) %>
<% end %>
