<div class="room_header">
	<div class="container">
		<%= link_to "Back",user_path(current_user.id),class: "btn btn-primary btn-xs" %>
		<h1>トークルーム<i class="fas fa-comments"></i></h1>

		<% @entries.each do |entry| %>
		<%= entry.user.name %>さん
		<% end %>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
            <%= render "user/messages/message_area",messages:@messages %>
		</div>
	</div>
</div>

		<%= form_for(@message,url:user_messages_path, remote: true) do |f| %>
		<div class="submit_btn">
			<div class="container">
				<%= f.text_field :content,:placeholder => "メッセージを入力してください" %>
				<%= f.hidden_field :room_id, :value => @room.id %>
				<%= f.submit "送信",class: "btn btn-primary btn-xs" %>
			    <% end %>
			</div>
		</div>

<script>
	var element = document.documentElement;
	var bottom = element.scrollHeight - element.clientHeight + 500;
	console.log(bottom);
	setTimeout(function() {
	  scrollTo(0, bottom);}
	, 100);
</script>