<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h1>マイページ</h1>
			<table class="table-bordered">
				<tr>
					<td><%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format: 'jpeg',fallback: "no_image.jpg",class:"profile_image" %></td>
					<!-- DM機能の条件分岐 -->
					<% if @user.id == current_user.id %>

					<% else %>
					    <% if @isRoom == true %>
							<td><%= link_to user_room_path(@roomId) do %><i class="far fa-envelope"></i><% end %></td>
						<% else %>
						    <%= form_for(@room,url: user_rooms_path) do |f| %>
							    <%= form_for(@entry,url:user_rooms_path) do |e| %>
							    <%= e.hidden_field :user_id, :value => @user.id %>
						    <%= f.submit "新しくチャットを始める" %>
						    <% end %>
						    <% end %>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<th>名前</th>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<th>性別</th>
					<td><%= @user.sex %></td>
				</tr>
				<tr>
					<th>年齢</th>
					<td><%= @user.age %>才</td>
				</tr>
				<tr>
					<th>身長</th>
					<td><%= @user.height %>cm</td>
				</tr>
				<tr>
					<th>体重</th>
					<td><%= @weight.weight %>kg</td>
				</tr>

				<tr>
					<td><%= link_to "#{@user.follower.count}フォロー",users_path %>
						<%= link_to "#{@user.followed.count}フォロワー",users_path %>
					</td>
				</tr>

				<tr>
					<td>
						<% unless @user == current_user %>
						  <% if current_user.following?(@user) %>
						    <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST,class: "btn btn-primary btn-xs" %>
						  <% else %>
						    <%= link_to 'フォローする', follow_path(@user.id), method: :POST,class: "btn btn-primary btn-xs" %>
						  <% end %>
						<% end %>
				     </td>
				</tr>

           <% if @user == current_user %>
				<tr>
					<td><%= link_to "" ,edit_user_path(@user.id),class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_10783" %></td>
				</tr>

			</table>

		   <ul class="mypage_btn">
				<li>
					<%= link_to "トレーニングする" ,user_trainings_path,class: "btn btn-primary btn-lg active" %>
				</li>
				<li>
					<%= link_to "トレーニング記録", user_training_managements_path,class: "btn btn-primary btn-lg active" %>
				</li>
				<li>
					<%= link_to "体重管理",new_user_weight_path,class: "btn btn-primary btn-lg active" %>
				</li>
			    <li>
					<%= link_to "コミュニティ",user_posts_path,class: "btn btn-primary btn-lg active" %>
				</li>
				<li>
					<%= link_to "トーク一覧",user_rooms_path,class: "btn btn-primary btn-lg active" %>
				</li>
			</ul>

			<% else %>

			<% end %>
		</div>

		<div class="col-xs-6">
			<h3>最近の投稿</h3>
					<% current_user.posts.order(created_at: :desc).each do |post| %>
					<%= link_to user_post_path(post.id) do %>
						<table class="table table_post">
							<tr>
								<td>
									<%= attachment_image_tag post.user, :profile_image, :fill, 30, 30, format: 'jpeg',fallback: "no_image.jpg",class:"profile_image" %>
									    <%= post.user.name %>
										<%= post.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分 ") %></td>
							</tr>
							<tr>
								<td><%= post.impression %></td>
							</tr>
							<% end %>

							<tr>
								<td><%= link_to edit_user_post_path(post.id) do %><i class="fas fa-edit"></i><% end %>
								<%= link_to user_post_path(post.id),method: :delete do %><i class="fas fa-trash-alt"></i><% end %></td>

							</tr>
						</table>
					<% end %>
		</div>
	</div>
</div>
