<h1>マイページ</h1>
<table>
	<tr>
		<td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg',fallback: "no_image.jpg" %></td>
	</tr>
	<tr>
		<th>名前</th>
		<td><%= @user.name %></td>
	</tr>
	<tr>
		<th>性別</th>
		<td><%= @user.sex %></td>
	</tr>
	<tr>
		<th>年齢</th>
		<td><%= @user.age %>才</td>
	</tr>
	<tr>
		<th>身長</th>
		<td><%= @user.height %>cm</td>
	</tr>
	<tr>
		<th>体重</th>
		<td><%= @user.registar_weight %>kg</td>
	</tr>
</table>
<%= link_to "編集する" ,edit_user_path(@user.id) %>
<%= link_to "トレーニングする" ,user_trainings_path %>
<%= link_to "トレーニング記録", user_training_managements_path %>
<%= link_to "体重管理",user_weights_path %>
<%= link_to "コミュニティ" %>
