<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>ジャンル管理</h1>

			<%= form_for(@genre,url:admin_genres_path) do |f| %>
			<div class="new_genre_table">
				<table>
					<tr>
						<td>
							ジャンル名
							<%= f.text_field :genre_name, autofocus: true, autocomplete: "genre_name" %>
							<%= f.label :有効  %>
							<%= f.radio_button :class_status, :有効 %>
							<%= f.label :無効  %>
							<%= f.radio_button :class_status, :無効 %>
						</td>
					</tr>
					<tr>
						<td>
							<%= f.submit "追加",class: "btn btn-primary btn-lg active" %>
						</td>
					</tr>
				</table>
			</div>
			<% end %>


			<div class="genre_table">
				<table class="table-bordered">
					<tbody>
						<% @genres.each do |genre| %>
						<tr>
							<td><%= genre.genre_name %></td>
							<td><%= genre.class_status %></td>
							<td><%= link_to "編集する" ,edit_admin_genre_path(genre.id),class:"btn btn-info" %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>