<div class="container">
	<h1>今日のトレーニング(<%= @today %>)</h1>
	<div class="conduct_btn"><%= link_to "トレーニングを続ける", user_trainings_path,class:"btn btn-info" %></div>
	<div class="row">
		<div class="col-xs-12 conduct_training_index">
			<%= link_to "トレーニングを全て削除","/user/conduct_training",method: :delete,class:"btn btn-danger" %>

				<% @conduct_trainings.each do |conduct| %>
					<table>
							<tr class="conduct_training_list">
								<td>
									<%= conduct.training.training_name %>
								</td>
						        <td>
						        	<%= conduct.training.number_time %>回
						        </td>
						        <td>
						        	<%= form_for conduct, url:user_conduct_training_path(conduct.id) do |f| %>
									×<%= f.number_field :set_count %><%= f.submit "変更" %>
								</td>
									<% end %>
								<td><%= link_to "削除" ,user_conduct_training_path(conduct.id),method: :delete,class:"btn btn-danger btn-xs" %>
								</td>
							</tr>
					</table>
				<% end %>
					<%= form_for(@training_management,url:user_training_managements_path, method: :post) do |f| %>
					<%= f.submit "トレーニングを記録する",class:"btn btn-primary" %>
					<% end %>
		</div>
	</div>
</div>