<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h1>コミュニティ</h1>
			<table>
				<tr>
					<td><%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format: 'jpeg',fallback: "no_image.jpg",class:"profile_image" %></td>
					<td><%= link_to "" ,edit_user_path(@user.id),class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_10783" %></td>
				</tr>
				<tr>
					<th>名前</th>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<th>自己紹介</th>
				</tr>
				<tr>
					<td><%= @user.introduction %></td>
				</tr>
			</table>

            <h2>新規投稿</h2>
            <%= form_for(@post,url:user_posts_path) do |f| %>
            <table>
            	<tr>
            		<td><%= f.text_area :impression, size: "50×100" %></td>
            	</tr>
            	<tr>
            		<td><%= f.submit "投稿する",class: "btn btn-primary btn-lg active" %></td>
            	</tr>
			<% end %>
			</table>
		</div>

		<div class="col-xs-6">
			<h1>投稿一覧画面</h1>

			<% @posts.each do |post| %>
			<%= link_to user_post_path(post.id) do %>
			<table>
				<tr>
					<td>
						<%= attachment_image_tag post.user, :profile_image, :fill, 30, 30, format: 'jpeg',fallback: "no_image.jpg",class:"profile_image" %>
						    <%= post.user.name %>
							<%= post.created_at %></td>
				</tr>
				<tr>
					<td><%= post.impression %></td>
				</tr>
			<% end %>

				<tr>
					<td><%= link_to "編集する",edit_user_post_path(post.id) %></td>
					<td><%= link_to "削除する",user_post_path(post.id),method: :delete %></td>

				</tr>
			</table>
			<% end %>
		</div>
	</div>
</div>