<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h1>コミュニティ</h1>
			<%= render "user/posts/list",user:@user,post:@post,post_new:@post_new %>
		</div>

		<div class="col-xs-6">
			<h1>投稿一覧画面</h1>

			<% @posts.each do |post| %>
			<%= link_to user_post_path(post.id) do %>
			<table class="table table_post">
				<tr>
					<td>
						<%= attachment_image_tag post.user, :profile_image, :fill, 30, 30, format: 'jpeg',fallback: "no_image.jpg",class:"profile_image" %>
						    <%= post.user.name %>
							<%= post.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分 ") %>
							</td>
				</tr>
				<tr>
					<td><%= post.impression %></td>
				</tr>
			<% end %>
                <% if post.user == current_user %>
					<tr>
						<td><%= link_to edit_user_post_path(post.id) do %><i class="fas fa-edit"></i><% end %>
						<%= link_to user_post_path(post.id),method: :delete do %><i class="fas fa-trash-alt"></i><% end %></td>

					</tr>
				<% else %>
				<% end %>
			</table>
			<% end %>
			<%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt'  %>
		</div>
	</div>
</div>