<div class="container post_show">
	<h1>コミュニティ</h1>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<%= render "user/posts/list",user:@user,post:@post,post_new:@post_new %>
		</div>

		<div class="col-xs-12 col-md-6">
			<h2>投稿詳細画面</h2>
			<table class="table table_post">
				<tr>
					<td><%= link_to user_path(@post.user.id) do %><%= attachment_image_tag @post.user, :profile_image, :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg",class:"profile_image" %><% end %>
							<%= @post.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分 ") %></td>
				</tr>
				<tr>
					<td><%= @post.impression %></td>
				</tr>

                <tr>
                	<!-- いいね機能 -->
					<% if @post.favorited_by?(current_user) %>
						<td><%= link_to user_post_favorites_path(@post), method: :delete do %>
						<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
						<% end %>
						<%= @post.favorites.count %> 件のいいね<td>
					<% else %>
						<td><%= link_to user_post_favorites_path(@post), method: :post do %>
					    <i class="fa fa-heart-o" aria-hidden="true"></i>
					    <% end %>
					    <%= @post.favorites.count %> 件のいいね</td>
					<% end %>
					<% @post.favorites.each do |favorite| %>
					<td><%= attachment_image_tag favorite.user, :profile_image, :fill, 30, 30, format: 'jpeg',fallback: "no_image.jpg",class:"profile_image" %></td>
					<% end %>
				<tr>
			</table>

			<!-- コメント機能 -->
			<h3>コメント</h3>
			<% @post.post_comments.each do |comment| %>
				<table>
					<tr>
						<td><%= link_to user_path(comment.user.id) do %><%= attachment_image_tag comment.user, :profile_image, :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg",class:"profile_image" %><% end %>
							<%= comment.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分 ") %></td>
					</tr>
					<tr>
						<td><%= comment.comment %></td>
					</tr>
					<% if comment.user == current_user %>
					<tr>
						<td><%= link_to edit_user_post_post_comment_path(@post.id,comment.id) do %><i class="fas fa-edit"></i><% end %>
						<%= link_to user_post_post_comment_path(@post.id,comment.id),method: :delete do %><i class="fas fa-trash-alt"></i><% end %></td>
		            </tr>
		            <% else %>
		            <% end %>
				</table>
			<% end %>


			<%= form_for([@post,@post_comment],url:user_post_post_comments_path(@post.id)) do |f| %>
				<%= f.text_area :comment,class: "form-control",placeholder: "コメントをここに" %>
				<%= f.submit "コメントする",class: "btn btn-primary btn-lg active post_show_btn" %>
			<% end %>
		</div>
	</div>
</div>