<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h1>トレーニング編集画面</h1>
        <%= form_for(@training,url:admin_trainings_path) do |f| %>
        <table>
        	<tr>
        		<th>タイトル</th>
        		<td><%= f.text_field :training_name, autofocus: true, autocomplete: "training_name" %></td>
        	</tr>

        	<tr>
        	    <th>youtube url</th>
        	    <td><%= f.text_field :youtube_url,autofocus: true, autocomplete: "youtube_url" %></td>
        	</tr>

            <tr>
              <th>説明</th>
              <td><%= f.text_area :description, autofocus: true, autocomplete: "description" %></td>
            </tr>

            <tr>
              <th>おすすめ回数</th>
              <td><%= f.text_field :number_time, autofocus: true, autocomplete: "number_time" %>回</td>
            </tr>

            <tr>
            	<td><%= f.submit '変更する' ,class: "btn btn-primary btn-lg active"%></td>
            	<td><%= link_to "消去する" ,admin_training_path(@training.id),method: :delete %></td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>
