<div class="container">
		<div class="weight_index">
		<h1>体重管理</h1>
		<%= link_to "体重入力画面へ",new_user_weight_path,class:"btn btn-info" %>
		</div>
	<div class="row">
		<div class="col-md-3 col-xs-12 mydata">
	        <h2>マイデータ</h2>
			<table class="table">
				<tr>
					<th>現在の体重</th>
					<td><%= @weights.weight %>kg</td>
				</tr>
				<tr>
					<th>BMI</th>
					<td><%= @weights.bmi %></td>
				</tr>
				<tr>
					<th>肥満度</th>
					<td><%= @degree %></td>
				</tr>
				<tr>
					<th>登録時からの変化</th>
					<td><% if @weight_difference.positive? %>
							+<%= @weight_difference %>kg
						<% else %>
							<%= @weight_difference %>kg
						<% end %>
					</td>
				</tr>
				<tr>
					<th>標準体重より</th>
					<td>
						<% if @proper_weight_difference.positive? %>
							+<%= @proper_weight_difference %>kg
						<% else %>
							<%= @proper_weight_difference %>kg
						<% end %>
					</td>
				</tr>
			</table>
		</div>

        <div class="col-md-9 col-xs-12 graph">
        	<h2>体重の変化</h2>
			<div class="chart"><canvas id="myChart"></canvas></div>
		</div>
	</div>
</div>

		<script>
		var ctx = document.getElementById("myChart").getContext('2d');
		var myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		        labels: <%= @weight_created.to_json.html_safe %>,
		        datasets: [{
		            label: "体重",
		            data: <%= @weights_chart %>,
		            backgroundColor: 'rgba(255, 99, 132, 0.7)',
		            borderColor: 'rgba(255, 50, 132, 0.7)',
		            fill: false
		        }]
		    },
		    options: {
		        title:  {
		          display: true,
		          text: "体重"
		        }
		    },
		    options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
	      }
		});
		</script>
	</div>
</div>