<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="weight_checker">
        <h1>体重チェッカー</h1>

        <%= form_for(@weight, url: user_weights_path, method: :post) do |f| %>
        <h3 class="user_height">身長<%= @user.height %>cm</h3>
        <h3 class="user_weight">現在の体重<%= f.text_field :weight, autofocus: true, autocomplete: "weight" %>kg</h3>

        <div><%= f.submit '計算する',name: "calculation_button",class: "btn btn-primary btn-lg active" %></div>

          <ul class="number_list">
            <li>
               <h3>あなたのBMI</h3>
            	 <div class="number"><%= @bmi %></div>
            </li>
            <li>
             <h3>適正体重</h3>
          	 <div class="number"><%= @proper_weight %></div>
            </li>
            <li>
             <h3>適正体重より</h3>
          	 <div class="number"><%= @difference %></div>
            </li>
            <li>
             	<h3>肥満度</h3>
          	  <div class="number"><%= @degree %></div>
            </li>
          </ul>
           <%= f.submit '結果を保存する',class: "btn btn-primary btn-lg active" %>
          <% end %>
        </div>
    </div>
</div>
