<!DOCTYPE html>
<html>
  <head>
    <title>Exerb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/34ad885584.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>
    <header>
        <div class="header_logo">
          <%= link_to "Exerb" ,root_path%>
        </div>

      <nav>
        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <div class="hm"><i class="fas fa-bars"></i></div>
          </a>
        </div>

        <% if user_signed_in? %>
          <div id="sp-menu">
            <ul>
               <li role="presentation"><%= link_to "ログアウト",destroy_user_session_path,method: :delete %></li>
               <li role="presentation"><%= link_to "マイページ",user_path(current_user.id) %></li>
               <li role="presentation"><%= link_to "トレーニング履歴",user_training_managements_path %></li>
               <li role="presentation"><%= link_to "コミュニティ",user_posts_path %></li>
             </ul>
           </div>
        <% else %>
          <div id="sp-menu">
            <ul>
              <li role="presentation"><%= link_to "ログイン",new_user_session_path %></li>
              <li role="presentation"><%= link_to "新規登録", new_user_registration_path %></li>
              <li role="presentation"><%= link_to "about",homes_about_path %></li>
            </ul>
          </div>
      <% end %>
    </nav>
  </header>


        <main>
            <%= yield %>
        </main>

        <% if user_signed_in? %>
          <div class="icon_container">
              <ul>
                <li>
                  <%= link_to user_trainings_path do %>
                  <i class="fas fa-running"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to user_training_managements_path do %>
                  <i class="far fa-clipboard"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_weight_path do %>
                  <i class="fas fa-weight"></i>
                  <% end %>
                </li>
                  <li>
                  <%= link_to user_posts_path do %>
                  <i class="fas fa-user-friends"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to user_rooms_path do %>
                  <i class="fas fa-comments"></i>
                  <% end %>
                </li>
            </ul>
          </div>
          <% else %>
        <% end %>

    <footer>
      <p>©︎</p>
    </footer>
  </body>
</html>
